{% extends 'inicio/encabezado.html' %}

{% block titulo %}
    Eliminar
{% endblock titulo %}


{% block imagen %}
    {% load static %}
    {% static 'inicio/images/home.png' %}
{% endblock imagen %}

{% block ruta %}
    <li class="active">Eliminar Comentario / {{ object.id }}</li>
{% endblock ruta %}

{% block encabezado_pagina %}
    <div class="page-header">
        <div class="page-title">
            <h3>Eliminar comentario</h3>
        </div>
    </div>
{% endblock encabezado_pagina %}


{% block formulario_contenido %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="callout callout-danger fade in">
            <h5>Eliminando comentarios</h5>
            <p>¿Estás seguro de que deseas <strong>Eliminar</strong> el comentario seleccionado?.</p>
        </div>
        <button type="submit" class="btn btn-danger">Sí</button>
        <a href="{% url 'Comentario' %}" class="btn btn-primary">Cancelar</a>
    </form>
{% endblock formulario_contenido %}
