{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>
        {% block titulo %}Mi Proyecto{% endblock %}
    </title>

    <!-- Estilos -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/londinium-theme.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" />

</head>

<body>
    <div class="page-container">
        <div class="sidebar">
            <div class="user-menu dropdown">
                <a href="#">
                    <img src="{% block imagen %}{% endblock %}" alt="" />
                    <div class="user-info">
                        {% block texto %}
                            Título por Defecto <span>Subtítulo</span>
                        {% endblock %}
                    </div>
                </a>
            </div>
            <div class="sidebar-content">
                <ul class="navigation">
                    <li>
                        <a href="{% url 'Principal' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'Formulario' %}">Registrar</a>
                    </li>
                    <li>
                        <a href="{% url 'Contacto' %}">Contáctanos</a>
                    </li>
                    <li>
                        <a href="{% url 'Comentario' %}">Comentarios</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-content">
            {% block encabezado_pagina %}
            {% endblock %}

            {% block breadcrumb %}
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'Principal' %}">Principal</a>
                        </li>
                        {% block ruta %}
                            <li class="active">Dashboard</li>
                        {% endblock %}
                    </ul>
                </div>
            {% endblock %}

            {% block formulario_contenido %}
            {% endblock %}
        </div>
    </div>
    
    <!-- jQuery y jQuery UI (desde CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <!-- Core -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>

    <!-- Scripts de complementos (Plugins) -->
    <script src="{% static 'js/plugins/charts/sparkline.min.js' %}"></script>

    <!-- Formularios -->
    <script src="{% static 'js/plugins/forms/uniform.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/select2.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/inputmask.js' %}"></script>
    <script src="{% static 'js/plugins/forms/autosize.js' %}"></script>
    <script src="{% static 'js/plugins/forms/inputlimit.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/listbox.js' %}"></script>
    <script src="{% static 'js/plugins/forms/multiselect.js' %}"></script>
    <script src="{% static 'js/plugins/forms/validate.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/tags.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/switch.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/uploader/plupload.full.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/uploader/plupload.queue.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/wysihtml5/wysihtml5.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/wysihtml5/toolbar.js' %}"></script>

    <!-- Interfaz -->
    <script src="{% static 'js/plugins/interface/daterangepicker.js' %}"></script>
    <script src="{% static 'js/plugins/interface/fancybox.min.js' %}"></script>
    <script src="{% static 'js/plugins/interface/moment.js' %}"></script>
    <script src="{% static 'js/plugins/interface/jgrowl.min.js' %}"></script>
    <script src="{% static 'js/plugins/interface/datatables.min.js' %}"></script>
    <script src="{% static 'js/plugins/interface/colorpicker.js' %}"></script>
    <script src="{% static 'js/plugins/interface/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/plugins/interface/timepicker.min.js' %}"></script>

</body>
</html>
